In [1]:
import pandas as pd
df= pd.read_csv('homeprices.csv')
df

         town  area   price
0       Delhi  2600  550000
1       Delhi  3000  565000
2       Delhi  3200  610000
3       Delhi  3600  680000
4       Delhi  4000  725000
5    Hyderbad  2600  585000
6    Hyderbad  2800  615000
7    Hyderbad  3300  650000
8    Hyderbad  3600  710000
9   Benguluru  2600  575000
10  Benguluru  2900  600000
11  Benguluru  3100  620000
12  Benguluru  3600  695000

In [2]:
#working with pandas dummy variables
dummies =pd.get_dummies(df.town)
dummies

    Benguluru  Delhi  Hyderbad
0           0      1         0
1           0      1         0
2           0      1         0
3           0      1         0
4           0      1         0
5           0      0         1
6           0      0         1
7           0      0         1
8           0      0         1
9           1      0         0
10          1      0         0
11          1      0         0
12          1      0         0

In [3]:
merged_df = pd.concat([df,dummies],axis='columns')

In [4]:
merged_df

         town  area   price  Benguluru  Delhi  Hyderbad
0       Delhi  2600  550000          0      1         0
1       Delhi  3000  565000          0      1         0
2       Delhi  3200  610000          0      1         0
3       Delhi  3600  680000          0      1         0
4       Delhi  4000  725000          0      1         0
5    Hyderbad  2600  585000          0      0         1
6    Hyderbad  2800  615000          0      0         1
7    Hyderbad  3300  650000          0      0         1
8    Hyderbad  3600  710000          0      0         1
9   Benguluru  2600  575000          1      0         0
10  Benguluru  2900  600000          1      0         0
11  Benguluru  3100  620000          1      0         0
12  Benguluru  3600  695000          1      0         0

In [10]:
final_df = merged_df.drop(['town','Hyderbad'],axis='columns')
final_df

    area   price  Benguluru  Delhi
0   2600  550000          0      1
1   3000  565000          0      1
2   3200  610000          0      1
3   3600  680000          0      1
4   4000  725000          0      1
5   2600  585000          0      0
6   2800  615000          0      0
7   3300  650000          0      0
8   3600  710000          0      0
9   2600  575000          1      0
10  2900  600000          1      0
11  3100  620000          1      0
12  3600  695000          1      0

In [12]:
#create an object of linearregression
from sklearn.linear_model import LinearRegression
model = LinearRegression()

In [13]:
# prepare a training data and test data (X , y)
X = final_df.drop(['price'],axis='columns')
X

    area  Benguluru  Delhi
0   2600          0      1
1   3000          0      1
2   3200          0      1
3   3600          0      1
4   4000          0      1
5   2600          0      0
6   2800          0      0
7   3300          0      0
8   3600          0      0
9   2600          1      0
10  2900          1      0
11  3100          1      0
12  3600          1      0

In [14]:
y= final_df.price
y

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [15]:
model.fit(X,y)

LinearRegression()

In [16]:
model.predict([[2800,0,1]])

C:\Users\s.garapati\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([565089.22812299])

In [17]:
model.predict([[2800,0,0]])

C:\Users\s.garapati\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([605103.20361213])

In [18]:
model.predict([[2800,1,0]])

C:\Users\s.garapati\AppData\Local\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([590775.63964739])

In [19]:
model.score(X,y)

0.9573929037221873

In [24]:
##Now let us do the same with OneHotEncoding of sklearn
# step 1: catagorical column should be label encoded i.e inorder to use OneHotEncoder we need to do Label Encoding on Town column
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [25]:
ledf = df
ledf.town = le.fit_transform(ledf.town)
ledf

    town  area   price
0      1  2600  550000
1      1  3000  565000
2      1  3200  610000
3      1  3600  680000
4      1  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      0  2600  575000
10     0  2900  600000
11     0  3100  620000
12     0  3600  695000

    town  area   price
0      1  2600  550000
1      1  3000  565000
2      1  3200  610000
3      1  3600  680000
4      1  4000  725000
5      2  2600  585000
6      2  2800  615000
7      2  3300  650000
8      2  3600  710000
9      0  2600  575000
10     0  2900  600000
11     0  3100  620000
12     0  3600  695000

In [28]:
# split the data from training and testing
o

0     550000
1     565000
2     610000
3     680000
4     725000
5     585000
6     615000
7     650000
8     710000
9     575000
10    600000
11    620000
12    695000
Name: price, dtype: int64

In [30]:
X,y

(array([[   1, 2600],
        [   1, 3000],
        [   1, 3200],
        [   1, 3600],
        [   1, 4000],
        [   2, 2600],
        [   2, 2800],
        [   2, 3300],
        [   2, 3600],
        [   0, 2600],
        [   0, 2900],
        [   0, 3100],
        [   0, 3600]], dtype=int64),
 0     550000
 1     565000
 2     610000
 3     680000
 4     725000
 5     585000
 6     615000
 7     650000
 8     710000
 9     575000
 10    600000
 11    620000
 12    695000
 Name: price, dtype: int64)

In [35]:
#create an object of OneHotEncoder
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(categorical_features=[0])

TypeError: OneHotEncoder.__init__() got an unexpected keyword argument 'categorical_features'

In [37]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
ct = ColumnTransformer([("town", OneHotEncoder(), [0])], remainder = 'passthrough')

In [38]:
ct

ColumnTransformer(remainder='passthrough',
                  transformers=[('town', OneHotEncoder(), [0])])

In [42]:
X=ct.fit_transform(X)
X

array([[0.0e+00, 1.0e+00, 0.0e+00, 2.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.0e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.2e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 3.6e+03],
       [0.0e+00, 1.0e+00, 0.0e+00, 4.0e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.6e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 2.8e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.3e+03],
       [0.0e+00, 0.0e+00, 1.0e+00, 3.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 2.9e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.1e+03],
       [1.0e+00, 0.0e+00, 0.0e+00, 3.6e+03]])

In [43]:
X= X[:,1:]
X

array([[1.0e+00, 0.0e+00, 2.6e+03],
       [1.0e+00, 0.0e+00, 3.0e+03],
       [1.0e+00, 0.0e+00, 3.2e+03],
       [1.0e+00, 0.0e+00, 3.6e+03],
       [1.0e+00, 0.0e+00, 4.0e+03],
       [0.0e+00, 1.0e+00, 2.6e+03],
       [0.0e+00, 1.0e+00, 2.8e+03],
       [0.0e+00, 1.0e+00, 3.3e+03],
       [0.0e+00, 1.0e+00, 3.6e+03],
       [0.0e+00, 0.0e+00, 2.6e+03],
       [0.0e+00, 0.0e+00, 2.9e+03],
       [0.0e+00, 0.0e+00, 3.1e+03],
       [0.0e+00, 0.0e+00, 3.6e+03]])

In [44]:
model.fit(X,y)

LinearRegression()

In [45]:
model.predict([[0,1,2800]])

array([605103.20361213])

In [46]:
model.score(X,y)

0.9573929037221873